<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Leaders page</title>
        <style>
            .failed {
                color: red;
            }
        </style>
    </head>
    <body>
        <h2>Company Leaders Home Page</h2>
        <hr/>
        <p>Welcome to the Company Leaders Home Page!</p>
    <p>
        See you in Brazil... for our annual Leadership retreat!
        <br/>
        Keep this trip a secret from the employees.
    </p>
    <br/><br/>
    <a th:href="@{/}">Back to Home Page</a>
    </body>
</html>